.titre {
  font-size: 60px;
  text-align: center;
  font-family: arial;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );

  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  
  color:transparent;
  
-webkit-background-clip: text;
  
  background-clip: text;
  
}

.tiwi {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

.positionbarredevie{
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}


.positionfiche{

  text-align: center;
}

.button{
  padding: 6px 50px;
  background: #777;
  color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button:hover{
  background: #222;
}

.button:active{
background: #777;
}

.barredevie{
  width: 300px;
  text-align: center;
  background: #2f2;
  margin: 5px 10px;
  border-radius: 4px;
  padding: 3px 3px;
}

